<div>
  <%= link_to new_user_post_path(@user.id), class:"link-info" do %>
    <button>Create new post</button>
  <% end %>
</div>

<div class="users-container">
  <% @users.each do |user| %>
    <div class="user-container">
      <img src="<%=user.photo%>" alt="user-image" />
      <%= link_to user_path(user.id), class:"link-info" do %>
        <div class="user-info">
          <h3><%= user.name %></h3>
          <p>Number of posts: <%= user.posts.count || 0 %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
